<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><span class="glyphicon glyphicon-lamp"></span> Lightning Talks</a>
    </div>
    <div class="navbar-header navbar-right">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/']"><span class="glyphicon glyphicon-plus"></span> Submit your topic</a></li>
      </ul>
    </div>
  </div>
</nav>
