<div class="row">
  <div class="col-xs-12">
    <h1>{{topic.subject}}</h1>
    <span> {{topic.talkDate}} </span>
    <h4>{{topic.description}}</h4>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <h4>Do you want to select this topic?</h4>
    <div class="btn-group">
      <button class="btn btn-primary">Yes</button>
      <button class="btn btn-default">No</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p class="footer-text">Submitted at {{topic.time}} | {{topic.ipAddress}} | {{topic.hostName}} | {{topic.userAgent}}</p>
  </div>
</div>
